.country{
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    margin: 12px;
    color: rgba(25, 23, 23, 0.851);
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
    color: #212020;
    font-style:italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.country-visited{
    background: rgb(89, 238, 244);
}
.visited{
    font-size: 15px;
    color: rgb(130, 130, 133);
    display: inline;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.btn{
    font-size: 12px;
    background: rgb(45, 211, 200);
    padding: 5px 12px;
    border: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}