.heading{
    text-align: center;
    background-color: aqua;
    width: 300px;
    margin: auto;
    border-radius: 5px;
    font-size: 30px;
    padding: 5px 12px;
    margin-top: 4px;
    margin-bottom: 10px;
}
.loading{
    text-align: center;
    font-size: large;
}